.ibm_type-checker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2140000000;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  height: 100%;
  min-height: 100%;
  max-height: 100%;

  font-family: sans-serif;
  font-size: 16px;

  background-color: transparent;
}

.ibm_type-checker svg {
  fill: currentColor;
}

.ibm_type-checker button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;

  appearance: none;
  background: transparent;
  border: none;
  color: currentColor;

  cursor: pointer;
}


.ibm_type-checker__ui {
  position: absolute;
  top: 1em;
  right: 1em;

  width: 13em;
  background-color: #ffffff;
  color: #272727;
  box-shadow: 0 0 0 2px #272727;

  animation: show 100ms ease-out;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate(0, calc(-100% - 2em));
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.ibm_type-checker__ui--hidden {
  transform: translate(0, calc(-100% - 2em));
  opacity: 0;
  transition: opacity 100ms ease-out, transform 250ms ease-out;
}

.ibm_type-checker__ui::selection {
  background-color: transparent;
}

.ibm_type-checker__drag-area {
  position: relative;
  padding: 0.4em;

  background-color: #272727;
  color: white;
  cursor: grab;
  cursor: -webkit-grab;
}

.ibm_type-checker__drag-area:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.ibm_type-checker__close {
  position: absolute;  
  padding: 0.2em;
  top: 0.4em;
  right: 0.4em;
  width: 1.1em;
  height: 1.1em;
  border-radius: 100%;
  overflow: hidden;
  text-indent: -999999rem;
}

.ibm_type-checker__close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.ibm_type-checker__close svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ibm_type-checker__report {
  padding: 0.2em;
  max-height: 25em;
  overflow-y: auto;
}

.ibm_type-checker__section-title {
  font-size: 1.2em;
  text-transform: capitalize;
  margin: 0.2em 0;;
}

.ibm_type-checker__list {
  padding: 0;
  list-style: none;
  margin-bottom: 2em;
}

.ibm_type-checker__item {
  border-top: 1px solid #eaeaea;
}

.ibm_type-checker__link {
  display: block;
  padding: 0.6em 0.4em;

  text-decoration: none;

  color: inherit;
}

.ibm_type-checker__link:hover,
.ibm_type-checker__link:focus {
  text-decoration: none;
  color: inherit;
  background-color: #eaeaea;
}

.ibm_type-checker__alert-text {
  font-weight: 700;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.3em;
}

.ibm_type-checker__alert-meta {
  background-color: rgba(31, 132, 255, 0.08);
  color: #69a6ff;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.7em;
  display: block;
  padding: 0.2em 0.4em;
}

.ibm_type-checker__error {
  box-shadow: inset 0 0 0 9999rem rgba(255, 0, 0, 0.25), inset 0 0 0 1px #F00;
}

.ibm_type-checker--focus .ibm_type-checker__error {
  box-shadow: none;
}

.ibm_type-checker__error--active {
  position: relative;
  z-index: 2139999999;
  box-shadow: inset 0 0 0 9999rem rgba(255, 0, 0, 0.25), inset 0 0 0 1px #F00 !important;
}

.ibm_type-checker__warning {
  box-shadow: inset 0 0 0 9999rem rgba(255, 255, 0, 0.25), inset 0 0 0 1px #FF0;
}

.ibm_type-checker--focus .ibm_type-checker__warning {
  box-shadow: none;
}

.ibm_type-checker__warning--active {
  position: relative;
  z-index: 2139999999;
  box-shadow: inset 0 0 0 9999rem rgba(255, 255, 0, 0.4), inset 0 0 0 -3px #FF0 !important;
}